:root {
    --monospace: "Fira Code", monospace;
    --headline: "Publico Headline", -apple-system, "Helvetica","Arial";
    --background: #FCFCFD;
    --background-highlight: white;
}

body,html {
    font-size: 16px;
    background: var(--background);
    width: 100vw;
    height: 100vh;
    font-family: -apple-system, "Helvetica","Arial";
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--headline);
}

h1 {
    font-size: 1.602rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    transition: 300ms all ease-in-out;
    ul {
        display: flex;
        list-style-type: none;
        li {
            margin: 10px;
            font-family: var(--monospace);
        }
    }
}

main {
    margin: 20px;
    h2 {
        text-align: center;
    }
}

.card {
    width: 95vw;
    max-width: 640px;
    margin: 0 auto;
    &.mini {
        background: var(--background-highlight);
        width: 30vw;
        border: 1px solid rgba(128,128,128,0.4);
        border-radius: 13px;
        transition: 300ms all ease-in-out;
        margin: auto;
        max-height: 40vh;
        overflow-y: hidden;

        img,video {
            width: 300px;
        }
    }
    &:hover {
        border-width: 4px;
    }
    

    > * {
        margin: 5px;
    }
    a {
        text-decoration: none;
        color: inherit;
    }
    .content a {
        color: lightcoral;
        &:hover {
            color: coral;
        }
    }
    pre {
        overflow: scroll;
        padding: 10px;
        border-radius: 4px;
    }
    .top {
        display: flex;
        justify-content: space-between;
    }

    .tags {
        list-style: none;
        display: flex;
        font-family: var(--monospace);
        color: orange;
        * {
            margin: 5px;
        }
    }
    .kind {
        text-transform: uppercase;
        font-family: var(--monospace);
        background:#8fceff;
        color: black;
        border-radius: 4px;
        padding: 10px;
        height: min-content;
        transition: 300ms all ease-in-out;

        &:hover {
            color: #1a1a1a;
        }
    }

    img,video {
        width: 60vw;
    }
}

.snippets {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
   > * {
        margin: 20px;
   }
    padding-bottom: 80px;
}

.mono {
    font-family: var(--monospace);
}

a.clear {
    text-decoration: none;
    color: inherit;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: var(--background);
}

.resource {
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .snippets {
        flex-direction: column;
        width: 90vw;
        margin: 0;
        padding: 0;
        .card.mini {
            width: 80vw;
            margin: 0 auto;
            img,video {
                width: 150px;
            }
        }
    }

    nav {
        flex-direction: column;
        align-items: center;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #1a1a1a;
        --background-highlight: black;
    }

    a {
        color: #8fceff;
    }
}