<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{%block title %}{{config.title}}{%endblock title%}</title>
        <link rel="stylesheet" type="text/css" href={{ get_url(path="reset.css", trailing_slash=false)}} />
        <link rel="stylesheet" type="text/css" href={{ get_url(path="styles.css", trailing_slash=false)}} />
        <link rel="stylesheet" type="text/css" href={{ get_url(path="search.css", trailing_slash=false)}} />
        <meta charset="utf-8" />
        <meta name="description" content="obsidian tips and tricks for CSS, plugin development and general usage">
        <meta name="color-scheme" content="light dark">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="referrer" content="no-referrer-when-downgrade">
        {% if config.generate_feed %}
        <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
      {% endif %}
    </head>
    <body>
        <nav>
            <h1>
            <a href="/" class="clear">
                Obsidian Snippets
            </a>
            </h1>
             <div class="search-container">
                <input type="search" id="search" class="search" placeholder="css snippet"/>
                <ul class="search-results">
                <div class="search-results__items"></div>
                </ul>
            </div>
            <ul>
                <li><a href="/tags/dataview">dataview</a></li>
                <li><a href="/kind/styling">styling</a></li>
                <li><a href="/kind/plugins">plugins</a></li>
            </ul>
        </nav>
        <main>
        {% block content %} {% endblock %}
        </main>
        <footer>
            <div>
            <a href="/resources" class="resource">Check out the other great community resources</a>
            <p>Want to submit a snippet? Submit a <a href="https://github.com/dustinknopoff/obsidian-snippets">PR</a><p>
            </div>
        </footer>
    </body>
    <script async defer type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
    <script async defer type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
    <script async defer type="text/javascript" src="{{ get_url(path="search.js") }}"></script>
    <script type="text/javascript">
        function addCopyButtons(clipboard) {
            console.log("firing")
            document.querySelectorAll('pre > code').forEach(function (codeBlock) {
                var button = document.createElement('button');
                button.className = 'copy-code-button';
                button.type = 'button';
                button.innerText = 'Copy';

                button.addEventListener('click', function () {
                    clipboard.writeText(codeBlock.innerText).then(function () {
                        /* Chrome doesn't seem to blur automatically,
                        leaving the button in a focused state. */
                        button.blur();

                        button.innerText = 'Copied!';

                        setTimeout(function () {
                            button.innerText = 'Copy';
                        }, 2000);
                    }, function (error) {
                        button.innerText = 'Error';
                    });
                });

                var pre = codeBlock.parentNode;
                pre.parentNode.insertBefore(button, pre);
            });
        }
    if (navigator && navigator.clipboard)
        document.addEventListener("DOMContentLoaded", () => addCopyButtons(navigator.clipboard))
    </script>
</html>