{% extends "base.html" %}
{% import "macros/snippet.html" as snippet %}

{% block content %}
{% set section = get_section(path="snippets/_index.md") %} 

{% for year, posts in section.pages | group_by(attribute="year") %}
    <div>
        <h2>{{ year }}</h2>
        <ul class="snippets">
            {% for post in posts %}
                <li>
                {{snippet::snippet(page=post, short=true)}}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
{% endblock%}